
.mocha-layout {
    -fx-padding: 40;
    -fx-alignment: center;
    -fx-background-color: #4B3832; 
}

.welcome-label {
    -fx-font-size: 48px;
    -fx-text-fill: #E0C097; 
    -fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 4, 0.0 , 2, 2 );
}

.btn-logout {
    -fx-background-color: #4b2e14; 
    -fx-text-fill: #f3e5d7;       
    -fx-font-size: 18px;
    -fx-padding: 10 28 10 28;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-border-color: #a67c52;    
    -fx-border-width: 2;
    -fx-font-weight: 600;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 3, 0.2, 0, 2);
    -fx-transition: background-color 0.3s ease, text-fill 0.3s ease;
}

.btn-logout:hover {
    -fx-background-color: #a67c52;  
    -fx-text-fill: #4b2e14;          
    -fx-border-color: #4b2e14;
}
